/*general*/
body {
    background-color: antiquewhite;
}
.btn-primary {
    background-color: darkgray;
    color: #000000;
    border: 1px solid transparent;
}

/*inicio shopping cart*/
.store {
    margin: 20px;
}
.item {
    border: 1px solid #202020;
    padding: 20px;
    border-radius: 2px;
}

.item-title {
    text-align: center;
    font-weight: 600;
}

.item-image {
    height: 100%;
    width: 100%;
}

.item-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px 15px;
}

.item-details>.item-price {
    margin: 0;
}

/* ? SHOPPING CART */
.shopping-cart-items {
    padding: 20px 0px;
}

.shopping-cart-header {
    border-bottom: 1px solid #ccc;
}

.shopping-cart-image {
    max-width: 80px;
    border-radius: 20px;
}

.shopping-cart-quantity-input {
    max-width: 45px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #eee;
    padding: 5px;
}

.shopping-cart-total {
    min-height: 96px;
}

/*finalizo shopping cart*/

/*INICIO FOOTER*/
footer {
    width: 100%;
    background-color: #202020;
    color: white;
}

.container-footer-all {
    width: 100%;
    max-width: 1500px;
    margin: auto;
    padding: 40px;
}

.container-fo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.column1 {
    max-width: 500px;
}

.column1 h2 {
    font-size: 30px;
}

.column1 p {
    font-size: 15px;
    color: #c7c7c7;
    margin-top: 20px;
}

.column2 {
    max-width: 500px;
}

.column2 h2 {
    font-size: 30px;
}

.row-contact {
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.row-contact img {
    width: 36px;
    height: 36px;
}

.row-contact label {
    margin-top: 10px;
    margin-left: 20px;
    max-width: 140px;
    color: #c7c7c7;
}

.column3 {
    max-width: 500px;
}

.column3 h2 {
    font-size: 30px;
}

.row2 {
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.row2 img {
    width: 36px;
    height: 36px;
}

.row2 label {
    margin-top: 10px;
    margin-left: 20px;
    max-width: 140px;
    color: #c7c7c7;
}

.container-fot {
    width: 100%;
    background-color: #101010;
}

.footer-god {
    max-width: 1500px;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 20px;
}

.copyright {
    color: #c7c7c7;
}

.informacion {
    color: #c7c7c7;
}

@media screen and (max-width: 1100px) {
    .container-fo {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .clomun1 {
        max-width: 100%;
    }

    .column2,
    .column3 {
        margin-top: 40px;
    }
}

/*FINALIZO FOOTER*/

/*INICIO CONTENEDOR DE CONTACTO*/
.contenedor .form .form-header .form-title {
    font-weight: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000000;
    text-align: center;
    padding: 14px 0;
}

.contenedor .form .form-header .form-title span {
    color: rgb(0, 0, 0);
}

.contenedor .form {
    background: rgba(0, 0, 0, 0.6);
    width: 90%;
    max-width: 650px;
    margin: auto;
    padding: 5px 35px;
    margin-top: 30px;
    padding-bottom: 30px;
    border-radius: 3px;
}

.contenedor .form .form-label {
    display: block;
    color: antiquewhite;
    font-size: 20px;
    font-family: Roboto;
    position: relative;
}

.contenedor .form .form-input,
.form-textarea {
    background: rgba(0, 0, 0, 0.7);
    border: none;
    outline: none;
    border-bottom: 2px solid #333;
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 2px;
    font-size: 14px;
    color: #decdbe;
    font-family: Roboto;
}

.contenedor .form .form-textarea {
    resize: vertical;
    max-height: 150px;
    min-height: 50px;
}

.contenedor .form .btn-submit {
    width: 100%;
    font-family: Roboto;
    outline: none;
    background: antiquewhite;
    font-size: 20px;
    border: none;
    padding: 15px 0;
    cursor: pointer;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.contenedor .form .btn-submit:hover {
    background-color: rgb(207, 187, 161);
}

/*FINALIZO CONTENEDOR DE CONTACTO*/

/*Cards pagina index*/
.container1 {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
.card-title {
    text-align: center;
    color: #202020;
}
.buttoncard {
    background-color: darkgrey;
    display: block;
}
.card {
    border: 1px solid #202020;
}
@media only screen and (max-width: 576px) {
    .container1 {
        display: flex;
        flex-direction: column;
    }
}