/*GENERAL*/
* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: antiquewhite;
}

/*CONTENIDO INDEX*/
main>.container {
    padding: 30px 0;
}

.container {
    display: flex;
}

.carouel {
    width: 100vw;
    height: 70vh;
}

.container1 {
    display: flex;
    justify-content: space-around;
}

.card {
    text-align: center;
    color: white;
    background-color: #785a46;
}

.buttoncard {
    background-color: antiquewhite;
    color: black;

}

.footer-home {
    width: 100%;
    height: auto;
    color: white;
    text-align: center;
    background-color: #212428;

}

.container-footer {
    margin-top: 20px;
    display: flex;
}

.productos {
    display: flex;
}

/* ? SHOPPING CART */
.shopping-cart-items {
    padding: 20px 0px;
}

.shopping-cart-header {
    border-bottom: 1px solid #ccc;
}

.shopping-cart-image {
    max-width: 80px;
    border-radius: 20px;
}

.shopping-cart-quantity-input {
    max-width: 45px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #eee;
    padding: 5px;
}

.shopping-cart-total {
    min-height: 96px;
}

.container2 {
    max-width: 720px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.text-center {
    text-align: center !important;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

.shoppingCartTotal {
    margin-left: 1.5rem !important;
}

.comprarButton {
    margin-left: auto !important;
}

iframe {
    padding: 20px;
    position: relative;
    width: 600px;
    height: 900px;

}

/*INICIO CONTENEDOR DE CONTACTO*/
.contenedor .form .form-header .form-title {
    font-weight: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:black;
    text-align: center;
    padding: 14px 0;
}

.contenedor .form .form-header .form-title span {
    color: beige;
}

.contenedor .form {
    background: rgba(0, 0, 0, 0.6);
    width: 90%;
    max-width: 650px;
    margin: auto;
    padding: 5px 35px;
    margin-top: 30px;
    padding-bottom: 30px;
    border-radius: 3px;
    position: absolute;
    bottom: 130px;
    left: 720px;
}

.contenedor .form .form-label {
    display: block;
    color: #000000;
    font-size: 20px;
    font-family: Roboto;
    position: relative;
}

.contenedor .form .form-input,
.form-textarea {
    background: rgba(0, 0, 0, 0.7);
    border: none;
    outline: none;
    border-bottom: 2px solid #333;
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 2px;
    font-size: 14px;
    color: antiquewhite;
    font-family: Roboto;
}

.contenedor .form .form-textarea {
    resize: vertical;
    max-height: 150px;
    min-height: 50px;
}

.contenedor .form .btn-submit {
    width: 100%;
    font-family: Roboto;
    outline: none;
    background: antiquewhite;
    font-size: 20px;
    border: none;
    padding: 15px 0;
    cursor: pointer;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.contenedor .form .btn-submit:hover {
    background-color: rgb(139, 123, 101);
}

/*FINALIZO CONTENEDOR DE CONTACTO*/